/*-----------------------Left Side----------------------------------*/
#bet-container {
    margin-top: 10px;
    display: inline-flexbox;
    float: left;
    width: 50%;
  }
  
  
  mat-grid-tile {
    background: lightblue;
  }
  
  
  #selection {
    margin-top: 20px;
  }
    
  #rm-button {
    display: flexbox;
    float: left;
    margin-top: 20px;
  }
  
  #bet-button {
    display: flexbox;
    float: right;
    margin-top: 20px;
  }

/*----- Only visible for Account Owners -----*/
#owner-container {
  margin-top: 200px;
  display: flexbox;
  float: left;
  width: 50%;
}

#owner-balance {
  float: left;
  width: 50%;
  text-align: center;
}

#withdrawal-button {
  float: right;
}

/*--------------------------------------------*/

  
  /*----------------------- Right Side----------------------------------*/
  
  #info-container {
    margin-top: 10px;
    width: 50%;
    display: inline-flexbox;
    float: right;
  }
  
  #get-prize {
    width: 50%;
    margin-left: 25%;
    text-align: center;
  }
  
  
  #last-game {
    margin-top: 75px;
    width: 50%;
    margin-left: 25%;
    text-align: center;
  }

  #next-game {
    margin-top: 25px;
    width: 50%;
    margin-left: 25%;
    text-align: center;
  }
  
  #prev-winners {
    margin-top: 120px;
    width: 50%;
    margin-left: 25%;
    text-align: center;
  }